Source: xbmc-deps
Version: 18.0.0-4
Build-Depends: zlib, openssl, curl, freetype, bzip2, sqlite3, pcre, tinyxml, libyajl, taglib, libmicrohttpd, lzo, libssh, libfribidi, libxslt, libnfs, libass, ffmpeg, fmt, crossguid, swig
Description: A vcpkg port that builds the external dependencies for the Win10 UWP version of Kodi <https://github.com/xbmc/xbmc>
