Source: libmicrohttpd
Version: 0.9.50-0
Description: GNU libmicrohttpd is a small C library that is supposed to make it easy to run an HTTP server as part of another application. https://www.gnu.org/software/libmicrohttpd/
